@model git_analyser.Models.ResultsViewModel

<div class="row">
    <div class="col-md-9">
        <div class="@(Model.Prefix)__stacked-bar-chart"></div>
    </div>
    <div class="col-md-3">
        <div class="@(Model.Prefix)__pieChart"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="@(Model.Prefix)__number-of-revs-data"></div>
    </div>
</div>