@{
    ViewData["Title"] = "Home Page";
}

<h1>Git Analysis</h1>
<h2>Number of Revisions</h2>
<p>Hover over the bars to see data.</p>

<div class="row">
    <div class="col-md-6">
        <div class="number-of-revs"></div>
    </div>
    <div class="col-md-6">
        <div class="number-of-revs-data"></div>
    </div>
</div>
<div class="bubbleChartArea">
    <h2>Bubble Chart</h2>
    <div class="bubbleChart">
    </div>
</div>
<div class="pieChart">
</div>